* {
    margin: 0;
    padding: 0;
}


table {
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 650px;
    table-layout: fixed;
  }
  
  table tr {
    background-color: #fff;
    border: 1px solid #bbb;
    padding: .35em;
  }
  table th,
  table td {
    padding: 1em 10px 1em 1em;
    border-right: 1px solid #bbb;
}
table th {
    font-size: .85em;
  }
  table thead tr{
    background-color: #eee;
  }
  .txt{
     text-align: left;
     font-size: .85em;
  }
  .price{
     text-align: left;
  }
  @media screen and (max-width: 600px) {
    table {
      border: 0;
      width:100%
    }
   
    table th{
      background-color: #eee;
      display: block;
      border-right: none;
    }
    table thead {
      border: none;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
    
    table tr {
      display: block;
      margin-bottom: .625em;
    }
    
    table td {
      border-bottom: 1px solid #bbb;
      display: block;
      font-size: .8em;
      text-align: right;
      position: relative;
      padding: .625em .625em .625em 4em;
      border-right: none;
    }
    

    table td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      left: 10px;
    }
    
    table td:last-child {
      border-bottom: 0;
    }
  }

.txt-ame{
  text-align: center;
}

.header{
    width: 100%;
    height: 20%;
}

.logo{
    height: 90px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    height: 90px;
}


.header-list{
    display: flex;
}


.item {
    list-style: none;
    padding: 20px 40px;
}

h3{
    font-family: "Hannari";
}

.list-group{
    margin: 20px;
    width: 40%;
    font-weight: bold;
}


.cp_h1title {
	position: relative;
	padding: .3em;
}
.cp_h1title:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 4px;
	background: repeating-linear-gradient(-45deg, #147de0, #948c1a 2px, #fff 2px, #fff 4px);
}

.irasutoya{
    width: 350px;
    height: 350px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.gazou-block {
  width: 100%;
  height: 530px;
}

p{
    text-align: center;
    font-size: large;
    font-weight: bold;
}

.first{
    margin: 30px;
    display: flex;
    justify-content: space-around;
}
.second{
    margin: 50px;
    display: flex;
    justify-content: center
}


.about-block{
    margin: 50px;
    font-family:  "游明朝","Yu Mincho"; 
}
.about-block2{
  margin: 50px;
  font-family:  "游明朝","Yu Mincho"; 
}

.eigyou-block{
  margin-top: 50px;
}

.manar{
  padding-left: 50px;
  margin-top: 100px;
  font-family:  "游明朝","Yu Mincho"; 
}

li{
    list-style: none;
}
.footer{
    background-color: bisque;
}
.footer-top{
    display: flex;
}
.itm{
    padding: 20px;
}
.manar{
  padding-left: 50% 0px;
}








.footer-logo{
    width: 10%;
    height: 10%;
}
.f-adress{
    font-size: 1.2em; 
    font-weight: bold;
    padding-top: 20px;
}
.footer-bottom{
    text-align: center;
    background-color: #aa610d93;
    font-family:  "游明朝","Yu Mincho"; 
}
.f-copy{
    padding: 20px 0px;
}
