* {
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 20%;
}

.logo{
    height: 90px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    height: 90px;
}
.header-list{
    display: flex;
}

.item{
    list-style: none;
    padding: 20px 40px;
}

.cp_h1title {
	position: relative;
	padding: .3em;
}
.cp_h1title:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 50%;
	height: 4px;
	background: repeating-linear-gradient(-45deg, #147de0, #948c1a 2px, #fff 2px, #fff 4px);
}

.map{
    height: 70%;
    width: 70%;
    display: block;
    margin: 0 auto;
}
.first-block{
margin: 50px;
}
.second-block{
    height: 140px;
    text-align: center;
    font-size: large;
    font-weight: bold;
    background-color: bisque;
}

.ikikata{
    padding: 30px;
    display: block;
    margin: auto;
}

#parking{
    margin-left: 50px;
}

.pkg-txt{
    font-size: 1.5em;
    font-weight: bold;
    font-family:  "游明朝","Yu Mincho"; 
}
.pkg{
    width: 700px;
    height: 900px;
    display: block;
    margin: auto;
}
p{
    font-family:  "游明朝","Yu Mincho"; 
    font-weight: bold;
}

.parking-picture{
    width: 450px;
    height:337px;
}
.first-picture{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
}
.second-picture{
    padding: 50px 0px;
    display: flex;
    justify-content: space-around;
}



li{
    list-style: none;
}
.footer{
    background-color: bisque;
}
.footer-top{
    display: flex;
}
.itm{
    padding: 20px;
}
.footer-logo{
    width: 10%;
    height: 10%;
}
.f-adress{
    font-size: 1.2em; 
    font-weight: bold;
    padding-top: 20px;
}
.footer-bottom{
    text-align: center;
    background-color: #aa610d93;
    font-family:  "游明朝","Yu Mincho"; 
}
.f-copy{
    padding: 20px 0px;
}
