*{
  margin: 0;
  padding: 0;
}
.logo{
width: 250px;
height: 150px;
}

.header{
text-align: center;
padding-top: 25px;
}

.header-logo{
  font-size: 36px; 
}

video{
  display: block;
  margin: 0 auto;
}

.box {
  position   : relative;
  width  : 1330px;
  height     : 700px;
  margin     : auto;
  overflow   : hidden;
  position: relative;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}
.txt-u{
  position: absolute;
  color: rgba(66,38,1,0.705);
  line-height: 1.7;
  margin-left: 20px;
  top: 90px;
  right: 574.5px;
  font-size: 3.5rem;
  font-family:  "游明朝","Yu Mincho"; 
  font-weight: bolder;
  background: rgba(241, 244, 245, 0.308);
}


/* --- 背景の指定 ------------------------------------------- */
.box .bgImg {
  position   : absolute;
  top        : 0;
  left       : 0;
  bottom     : 0;
  right      : 0;
  opacity    : 0;
  animation  : bgAnime 20s infinite;   /* 4画像 × 各5s = 20s */
}

/* --- 段差で背景画像のアニメーションを実行 ----------------- */
.box .src1 {
  background-image : url(../images/op_taki.JPG);   /* 背景の画像を指定 */
  background-size : cover;
}
.box .src2 {
  background-image : url(../images/op_3.jpg);   /* 背景の画像を指定 */
  animation-delay  : 5s;
  
}
.box .src3 {
  background-image : url(../images/op_furo.JPG);   /* 背景の画像を指定 */
  animation-delay  : 10s;
  background-size : cover;
}
.box .src4 {
  background-image : url(../images/IMG_17278.png);   /* 背景の画像を指定 */
  animation-delay  : 15s;
  background-size: cover;
}

@keyframes bgAnime {
  0%{
    opacity: 0;
  }
  5%{
    opacity: 1;
  }
  25%{
    opacity: 1
  }
  30%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

/* --- 前面の文字定義（サンプルのため変更してください） ----- */
.box .boxString{
  position   : absolute;
  display    : inline-block;
  padding    : 20px;
  background : rgba(0, 127, 255, 0.7);          /* 半透明の青 */
  color      : #fff;
                                 /* 中央寄せ */
  left       : 50%;
  transform  : translate(-50%,-50%);
  z-index    : 11;
}


.second-block{
  margin-top: 50px;
  height: 280px;
  background-color:  bisque;
}


.tuite{
  font-family: "游明朝","Yu Mincho";
  font-size: 4em;
  padding: 60px 0px;
  text-align: center;
  font-weight: bolder;
}
.aikon{
  margin: 0 auto;
  width: 80%;
  display: flex;
  justify-content: space-around;
}
span{
  display:block;
  color: rgb(223, 86, 86);
  padding-bottom: 20px;
}

a{
  text-align: center;
}
.em{
  padding: 30px;
}
.emozi{
  border: rgb(223, 86, 86) solid;
  margin: 20px;
}

.emozi :hover{
  text-decoration: none;
  transform: scale(1.1)
}

.onsen-block{
  padding: 50px 0px;
}
.ebisuyu-picture{
  width: 1200px;
  height: 750px;
  display: block;
  margin: auto;
}

.ebisuyu-adress{
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #cec6ac;
  font-size: large;
  font-weight: bold;
  font-family:  "游明朝","Yu Mincho"; 
}
.adress{
  border-top: 1px solid #cec6ac;
  border-bottom: 1px solid #cec6ac;
}
.kounou-block{
  display: flex;
  border-top: solid  1px;
  border-bottom: solid  1px;
}
.kounou-picture{
  width: 800px;
  height: 400px;
}
.kounou-text{
  padding-left: 50px;
  font-family: "游明朝","Yu Mincho";
  font-weight: bolder;
  padding: 50px;
}
.yuushou-block{
  font-family: "游明朝","Yu Mincho";
  font-weight: bolder;
  border-top: solid  1px;
  border-bottom: solid  1px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.kounou-sysi{
  margin-top: 50px;
}
.yu{
  width: 800px;
  height: 400px;
}
.text-title{
  font-size: 2em;

}
.yu-text{
  padding: 50px;
}
.yu-txt{
  margin-top: 50px;
}
.txt-name {
  text-align: right;
}

.googlemap{
  display: block;
  text-align: center;
  padding-bottom: 20px;
}
.hori-block{
  font-family: "游明朝","Yu Mincho";
  font-weight: bolder;
  border-top: solid  1px;
  border-bottom: solid  1px;
  margin-top: 20px;
  display: flex;
}
.hori{
  width: 800px;
  height: 460px;
}

.hori-text{
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 50px;
  padding-right: 50px;
}
.hori-txt{
  margin-top: 25px;
}







.footer-top{
  display: flex;
  background-color: bisque;
}
.itm{
  padding: 20px;
}
li{
  list-style: none;
}
.footer-logo{
  width: 10%;
  height: 10%;
}


.footer-bottom{
  text-align: center;
  background-color: #aa610d93;
  font-family:  "游明朝","Yu Mincho";     
}
.f-adress{
  font-size: 1.2em; 
  font-weight: bold;
  padding-top: 20px;
}
.f-copy{
  padding: 20px 0px;
}
